@font-face {
  font-family: 'Amatic';
  src: url('../assets/fonts/Amatic_SC/AmaticSC-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}
