.music-container {
  display: flex;
  gap: 10px;
  position: absolute;
  left: 10%;
  bottom: 15px;
}

.music-container > button {
  border-radius: 50%;
  border: none;
  padding: 10px;
  background-color: var(--soft-beige);
  cursor: pointer;
}

.music-container > button > img {
  height: 30px;
  width: auto;
}
